
<!DOCTYPE html>
<html>
<head>
<title>Web Scraping</title>


<form> <input type="checkbox" name="Linkedin" value="Linkedin" id="Linkedin"><label for="love"> Linkedin</label> 

<form> <input type="checkbox" name="love" value="love" id="love"><label for="love"> Xing</label> 

<form> <input type="checkbox" name="love" value="love" id="love"><label for="love"> Glassdoor</label> </form>


<textarea name="text" cols="25" rows="5">
Add multiple lines of text here and watch the scrollbars grow...
</textarea>


<button type="button">Click To Analysis!</button>


<div style="background-color:lightblue">
  <h3>This is a heading</h3>
  <p>This is a paragraph.</p>
</div>